body {
    background-color: cadetblue;
}

.pleft {
    text-align: left;

}

.pcenter {
    text-align: center;
}

.pright {
    text-align: right;
}

.p1 {

    color: green;

}

.p3 {
    font-size: xx-large;
}

.p4 {
    font-size: small;
    color: white;
    font-family: Arial;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock {
    width: 250px;
    height: 300px;
}



